body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 224, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

.container {
    text-align: center;
    border-style: solid;
    border-color:  rgb(82, 117, 80);
    border-width: 1vh;
    padding: 10vh;
}

h1{
    color: rgb(15, 187, 9);
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
}

form input{
    margin: 10px 0px;
    height:30px;
    width: 210px;
    border-radius: 20px;
    border: 1px solid rgb(195, 201, 144);
    font-size: 16px;
    padding: 5px 10px;
}


button{
    background-color: rgb(15, 187, 9);
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    width: 150px;
    height: 48px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}

button:hover{
    background: white;
    color: rgb(15, 187, 9);
}

input:hover {
    background-color: rgb(219, 219, 219);
    border: 1px solid black;
}